* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  /*   border: solid 1px red; */
}
body {
  background: #71c9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 0;
}
.cross {
  position: relative;
  width: 200px;
  height: 330px;
  transition: 0.5s;
}
.U {
  position: absolute;
  background-color: #f5cf36;
  width: 50%;
  height: 90px;
  left: 50px;
  top: 30px;
  border-radius: 100px 100px 0 0;
  box-shadow: inset 5px 0 0px rgba(1, 1, 1, 0.1);
  z-index: 1;
}

.R {
  position: absolute;
  width: 140%;
  height: 90px;
  left: -40px;
  background-color: #f5cf36;
  top: 120px;
  border-radius: 100px 100px 100px 100px;
  box-shadow: inset 5px 0 0px rgba(1, 1, 1, 0.1);
  z-index: -2;
}

.D1 {
  position: absolute;
  width: 50%;
  height: 130px;
  left: 50px;
  background-color: #f5cf36;
  top: 210px;
  border-radius: 0 0 100px 100px;
  box-shadow: inset 5px 0 0px rgba(1, 1, 1, 0.1);
  z-index: -2;
}
h1 {
  font-family: "Nanum Pen Script", cursive;
  font-size: 30px;
  color: #ffffff;
  left: 50px;
}
.cross:hover {
  /*   background: blue; */
  transform: scale(1.2);
}
/* * {
  padding: 0px;
  margin: 0px;
  box-sizing: bolder-box;
  // border: solid 1px red;
} */
/* body {
  position: absolute;
} */
.heart {
  position: fixed;
  width: 100px;
  height: 100px;
  /*   margin: 35%; */
  transition: all 2s cubic-bezier(0.37, 0, 0.63, 1) 0.2s;
  //transition:all 20s linear 0.2s;
}
.heart:hover {
  transform: rotate(720deg);
  margin: 0px;
}
.h1 {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: #f88;
}
.h2 {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 40px;
  border-radius: 50%;
  background-color: #f88;
}
.h3 {
  height: 49px;
  width: 49px;
  position: absolute;
  top: 21px;
  left: 21px;
  transform: rotate(45deg);
  background-color: #f88;
}
/* a herf css路徑動畫
checkbox */